---
const today = new Date();
import "../styles/global.css";
---
		<div class="hidden md:inline-flex flex flex-direction-row color-picker border-0 font-bold text-[12px] h-[20px] content-center align-middle">

			<div class="h-[18px] w-[16px] bgcolor-textlg text-center">
			T
			</div>

			<div class="h-[18px] w-[16px] bgcolor-textdk text-center">
			T
			</div>

			<div class="h-[18px] w-[16px] bgcolor-exlight text-center">
			0
			</div>

			<div class="h-[18px] w-[16px] bgcolor-light text-center">
			1
			</div>

			<div class="h-[18px] w-[16px] bgcolor-primary text-center">
			2
			</div>

			<div class="h-[18px] w-[16px] bgcolor-dark text-center">
			3
			</div>

			<div class="h-[18px] w-[16px] bgcolor-exdark text-center">
			4
			</div>

			<div class="h-[18px] w-[16px] colAccent text-center">
			A
			</div>

			<div class="h-[18px] w-[16px] colAccentHover text-center">
			H
			</div>

		</div>
